<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mu3e Run Database</title>
    <style>
    h1 {
        color: green;
    }

    .button {
        background-color: #04AA6D; /* Green */
        border: none;
        color: white;
        padding: 2px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    #runs {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #runs td, #runs th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #runs tr:nth-child(even){background-color: #f2f2f2;}

    #runs tr:hover {background-color: #ddd;}

    #runs th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
</style>

<script>

function runsFilter() {
    isFiltered = true;
    const minRun = document.getElementById("filterRunMin").value;
    console.log("minRun: " + minRun);
    const maxRun =  document.getElementById("filterRunMax").value;
    console.log("maxRun: " + maxRun);
    window.location.href = '/rdb/?minRun=' + minRun + '&maxRun=' + maxRun;
}

function runsLimit() {
    isFiltered = true;
    const nRun = document.getElementById("filterRunLimit").value;
    window.location.href = '/rdb/?nRun=' + nRun;
}

function timeFilter() {
    isFiltered = true;
    const startTime = document.getElementById("filterStartTime").value;
    console.log("startTime: " + startTime);
    const stopTime  = document.getElementById("filterStopTime").value;
    console.log("stopTime: " + stopTime);
    window.location.href = '/rdb/?startTime=' + startTime + '&stopTime=' + stopTime;
}

</script>
</head>

<% var runList = [] %>
<% for(const testData of data){ %>
<% runList.push(testData.BOR["Run number"]) %>
<% } %>


<body>
    <h1><a href="/rdb/">Mu3e Run Database</a> </h1>
    <input id="filterRunLimit" type="numeric"  placeholder="number of runs" />
    <input id="applyRunsLimit" type="button" class="button" value="filter" onclick=runsLimit() />

    <br>
    <br>
    <input id="filterRunMin" type="numeric" placeholder="minimum runnumber"  />
    <input id="filterRunMax" type="numeric" placeholder="maximum runnumber"  />
    <input id="applyRunsFilter" type="button" class="button" value="filter" onclick=runsFilter() />

    <br>
    <br>
    <input id="filterStartTime" type="text" placeholder="Start time (FIXME!)"  />
    <input id="filterStopTime" type="text" placeholder="Stop time (FIXME!)"  />
    <input id="applyTimeFilter" type="button" class="button" value="filter" onclick=timeFilter() />

    <h3>
    <% if (isFiltered) { %>
      Showing filtered results
    <% } else { %>
      Showing the last <%=data.length %> runs
    <% } %>
    </h3>

    <table id="runs">
    <thead>
    <tr>
    <th>Run </th>
    <th>Start time</th>
    <th>End time</th>
    <th>Events</th>
    <th>Shift crew</th>
    <th>Comments</th>
    </tr>
    </thead>



    <% data.map((result)=>{ %>
                            <tr>
                            <td> <a href="/rdb/<%= result.BOR["Run number"]%>?runs=<%=runList%>"><%= result.BOR["Run number"]%> </a>
                            <td>
                            <%= result.BOR["Start time"]%>
                            <td>
                            <%= result.EOR["Stop time"]%>
                            <td>
                            <%= result.EOR["Events"]%>
                            <td>
                            <%= result.BOR["Shift crew"]%>
                            <td>
                            <%= result.EOR["Comments"]%>
                            <% }) %>

</table>
    </body>

</html>
