<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Mu3e RDB <%=data.BOR["Run number"]%></title>
        <style>
         h1 {
             color: #00703c;
         }
         
         h2 {
             color: #507d2a;
         }
         
         div {
             padding-top: 20px;
             padding-right: 0px;
             padding-bottom: 10px;
             padding-left: 0px;
         }

         .button {
             background-color: #00703c; /* Green */
             border: none;
             color: white;
             padding: 5px 20px ;
             text-align: center;
             text-decoration: none;
             display: inline-block;
             font-size: 16px;
         }
        
         textarea {
             width: 100%; /* Make textarea fill the cell's width */
             height: 50px; /* You can adjust the height as needed */
             box-sizing: border-box; /* Ensure padding and borders are included in width */
         }
         
         #runs {
             font-family: Arial, Helvetica, sans-serif;
             border-collapse: collapse;
             width: 100%;
         }
         
         #runs td, #runs th {
             border: 1px solid #ddd;
             padding: 4px;
         }
         
         #runs tr:nth-child(even){background-color: #f2f2f2;}
         
         #runs tr:hover {background-color: #ddd;}
         
         #runs th {
             padding-top: 12px;
             padding-bottom: 12px;
             text-align: left;
             background-color: #00703c;
             color: white;
         }


         #histcomments {
             font-family: Arial, Helvetica, sans-serif;
             border-collapse: collapse;
             width: 100%;
         }
         
         #histcomments td, #histcomments th {
             border: 1px solid #ddd;
             padding: 4px;
         }
         
         #histcomments tr:nth-child(even){background-color: #f2f2f2;}
         
         #histcomments tr:hover {background-color: #ddd;}
         
         #histcomments th {
             padding-top: 12px;
             padding-bottom: 12px;
             text-align: left;
             background-color: #507d2a;
             color: white;
         }
       
        </style>
    </head>

    <body>
        <h1>Run 
            <%=data.BOR["Run number"]%>
        </h1>

        <div>
            <input id="btnBack" type="button" class="button" value="Back" onclick=setBack() />
            <input id="btnPrev" type="button" class="button" value="Previous" onclick=setPrev() />
            <input id="btnNext" type="button" class="button" value="Next" onclick=setNext() />
            <input id="btnEdit" type="button" class="button" color="blue" value="Edit" onclick=setEdit() />
            <input id="btnSubm" type="button" class="button" value="Save" style="float: right; background-color:#93c572" onclick=updateRun() />
        </div>

        <table id="runs">
            <thead>
                <tr>
                    <th id="runsCol1">Field </th>
                    <th id="runsCol2">Value </th>
                </tr>
            </thead>

            <tr>
                <td> Run number </td>
                <td>  <%= data.BOR["Run number"]%>  </td>
            </tr>

            <tr>
                <td> Start time </td>
                <td> <%= data.BOR["Start time"]%> </td>
            </tr>

            <tr>
                <td> Stop time </td>
                <td> <%= data.EOR["Stop time"]%> </td>
            </tr>

            <tr>
                <td> Events </td>
                <td> <%= data.EOR["Events"]%> </td>
            </tr>

            <tr>
                <td> Shift crew </td>
                <td> <%= data.BOR["Shift crew"]%> </td>
            </tr>

            <tr>
                <td> Comments </td>
                <td> <textarea id="comments" disabled="true"><%=data.EOR["Comments"]%></textarea><br>
                </td>
            </tr>

            <tr>
                <td> Subsystems </td>
                <td> <%= data.BOR["Subsystems"]%> </td>
            </tr>

            <tr>
                <td> Beam </td>
                <td> <%= data.BOR["Beam"]%> </td>
            </tr>

            <tr>
                <td> File size </td>
                <td> <%= data.EOR["File size"]%> </td>
            </tr>

            <tr>
                <td> Uncompressed data size </td>
                <td> <%= data.EOR["Uncompressed data size"]%> </td>
            </tr>
            <tr>
                <td> Online DQM summary </td>
                <td>
                    <input type="checkbox" id="dqmMu3e" name="dqmMu3e" indeterminate disabled/> <label for="dqmVtx">Mu3e</label>
                    <input type="checkbox" id="dqmBeam" name="dqmBeam" indeterminate disabled/> <label for="dqmVtx">Beam</label>
                    <input type="checkbox" id="dqmVtx" name="dqmVtx" indeterminate disabled/> <label for="dqmVtx">Vertex</label>
                    <input type="checkbox" id="dqmFib" name="dqmFib" indeterminate disabled/> <label for="dqmFib">Fibres</label>
                    <input type="checkbox" id="dqmTil" name="dqmTil" indeterminate disabled/> <label for="dqmTil">Tiles</label>
                </td>
            </tr>

        </table>
        
        <h2>Record history</h2>
        <table  id="histcomments">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                <% data.History.forEach(function(entry) { %>
                    <tr>
                        <td><%= entry.date %></td>
                        <td><%= entry.comment %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>    
    </body>

    <script>
     const lData = <%- JSON.stringify(data) %>;
     console.log(lData);
     
     let sruns = '<%-runs%>';
     let aruns = sruns.split(",");
     const sthisRun = <%= data.BOR["Run number"]%>;
     const thisRun = String(sthisRun);
     const idxThisRun = aruns.indexOf(thisRun);
     let idxPrevRun = (idxThisRun > 0? idxThisRun - 1: -1);
     let idxNextRun = (idxThisRun < aruns.length? idxThisRun + 1: -1);
     console.log("idxThisRun / idxPrevRun / idxnextRun :" + idxThisRun + " / " + idxPrevRun + " / " + idxNextRun);
     
     let mycolors = [];
     mycolors.push('#1450fa'); // blue
     mycolors.push('#0ac80a'); // darker green
     mycolors.push('#50f000'); // light green
     mycolors.push('#f0f000'); // yellow
     mycolors.push('#f05000'); // orange
     mycolors.push('#f00000'); // red

     // -- all the DQM flags to be shown
     const detMap = new Map([
         ["mu3e", "dqmMu3e"], 
         ["beam", "dqmBeam"], 
         ["vertex", "dqmVtx"], 
         ["fibres", "dqmFib"], 
         ["tiles", "dqmTil"]
     ]);

     var dqmOrigIdx = -1; 
     const dqmOrig = new Map([
         ["mu3e", "nada"], 
         ["beam", "nada"], 
         ["vertex", "nada"], 
         ["fibres", "nada"], 
         ["tiles", "nada"]
     ]);


     let commentChange = 0; 
     
     let dqmOnline = 0;
     var dqmOnlineIdx = -1;

     const hasAttributes = lData.hasOwnProperty('Attributes');

     // -- get most recent (last) DQMOnline
     if (hasAttributes) {
         for (var idx = 0; idx < lData.Attributes.length; ++idx) {
             console.log(lData.Attributes[idx].DQMOnline);
             dqmOnlineIdx = idx; 
         }
     }
     
     if (dqmOnlineIdx > -1) {
         dqmOnline = 1; 
         var onlineDQM = lData.Attributes[dqmOnlineIdx].DQMOnline;
         dqmOrigIdx = dqmOnlineIdx;
         
         for (var prop in onlineDQM) {
             if (Object.prototype.hasOwnProperty.call(onlineDQM, prop)) {
                 console.log("prop: " + prop + " -> val: " + onlineDQM[prop]);
                 if (detMap.has(prop)) {
                     if (onlineDQM[prop] === '1') {
                         console.log("prop " + prop + " good");
                         document.getElementById(detMap.get(prop)).checked = true;
                         dqmOrig.set(prop, "1");
                     } else if (onlineDQM[prop] === '0') {
                         console.log("prop " + prop + " bad");
                         document.getElementById(detMap.get(prop)).checked = false;
                         dqmOrig.set(prop, "0");
                     } else {
                         console.log("prop " + prop + " unset");
                         document.getElementById(detMap.get(prop)).indeterminate = true;
                         dqmOrig.set(prop, "-1");
                     }
                 }
             }

         }
     } else {
         console.log("HALLO blurp");
         for (const value of detMap.values()) {
             console.log(value);
             document.getElementById(value).indeterminate = true;
         }
     }
     
     let doEdit = -1;

     function setNext() {
         if (idxNextRun < aruns.length) {
             window.location.href = '/rdb/' + aruns[idxNextRun] + '/?runs=' + sruns;
         } else {
             window.location.href = '/rdb/';
         }
     }

     function setPrev() {
         if (idxPrevRun > -1) {
             window.location.href = '/rdb/' + aruns[idxPrevRun] + '/?runs=' + sruns;
         } else {
             window.location.href = '/rdb/';
         }
     }

     function setBack() {
         window.location.href = '/rdb/';
     }

     function setEdit() {
         if (doEdit < 1) {
             document.getElementById('comments').disabled = false;
             document.getElementById('btnSubm').style = "float: right; background-color:#00703c";
             
             for (const [key, value] of detMap) {
                 console.log("key: " + key + " unsetting disabled: " + value);
                 document.getElementById(value).disabled = false;
             }

             for (const [key, value] of dqmOrig) {
                 console.log("original key: " + key + " : " + value);
             }

             doEdit = 1; 
         } 
     }

     function updateRun() {
         if (doEdit < 1) {
             alert("Nothing edited. Will not save.\nClick Edit button to allow editing.");
             return;
         } 

         var ldata = <%- JSON.stringify(data) %>;
         
         // -- update the modified comment
         ldata.EOR["Comments"] = document.getElementById('comments').value;
         console.log("ldata.History = " + JSON.stringify(ldata.History));

         // -- check for updated DQM summary
         var dqmChange = "DQM changes: "; 
         var dqmChanged = 0; 
         for (const [key, value] of detMap) {
             var status = -1;
             if (document.getElementById(value).indeterminate) {
                 status = -1;
             } else if (document.getElementById(value).checked) {
                 status = 1;
             } else {
                 status = 0;
             }
             if (status != dqmOrig.get(key)) {
                 dqmChange = dqmChange + key + " ";
                 dqmChanged = 1; 
                 lData.Attributes[dqmOrigIdx].DQMOnline[key] = status;
             }
         }
         
         var currentdate = new Date(); 
         var datetime = currentdate.getFullYear() + "/" 
                      + (currentdate.getMonth()+1).toString().padStart(2, '0')  + "/" 
                      + currentdate.getDate().toString().padStart(2, '0') + " "
                      + currentdate.getHours().toString().padStart(2, '0') + ":"  
                      + currentdate.getMinutes().toString().padStart(2, '0') + ":" 
                      + currentdate.getSeconds().toString().padStart(2, '0');
         
         let addComment = {"date": datetime, "comment": ""};

         if (commentChange) {
             addComment.comment = "Comment changed. ";
         }
         if (dqmChanged) {
             addComment.comment = addComment.comment + dqmChange;
         }
         

         ldata.History.push(addComment);
         
         console.log("ldata: " + JSON.stringify(ldata));
         
         return;
         
         // -- Send the POST request
         fetch('/rdb/updateRun', {
             method: 'POST',
             headers: {
                 'Content-Type': 'application/json',
             },
             body: JSON.stringify(ldata)  // Send data as JSON
         })
     }

     document.querySelector('textarea').addEventListener('change', function (event) {
         commentChange = 1; 
     });
     
    </script>

    
</html>
