<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>EJS Example</title>
    <style>
        h1 {
            color: green;
        }

    div {
        padding-top: 20px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    .button {
        background-color: #04AA6D; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    #runs {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #runs td, #runs th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #runs tr:nth-child(even){background-color: #f2f2f2;}

    #runs tr:hover {background-color: #ddd;}

    #runs th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }

</style>
</head>

<script>
 let sruns = '<%-runs%>'
 let aruns = sruns.split(",");
 const sthisRun = <%= data.BOR["Run number"]%>;
 const thisRun = String(sthisRun);
 const idxThisRun = aruns.indexOf(thisRun);
 let idxPrevRun = (idxThisRun > 0? idxThisRun - 1: -1);
 let idxNextRun = (idxThisRun < aruns.length? idxThisRun + 1: -1);
 console.log("idxThisRun / idxPrevRun / idxnextRun :" + idxThisRun + " / " + idxPrevRun + " / " + idxNextRun);

 function setNext() {
     if (idxNextRun < aruns.length) {
         window.location.href = '/rdb/' + aruns[idxNextRun] + '/?runs=' + sruns;
     } else {
         window.location.href = '/rdb/';
     }
 }

 function setPrev() {
     if (idxPrevRun > -1) {
         window.location.href = '/rdb/' + aruns[idxPrevRun] + '/?runs=' + sruns;
     } else {
         window.location.href = '/rdb/';
     }
 }

 function setBack() {
     window.location.href = '/rdb/';
 }

 function updateRun() {
     // Get the input values
     const runNumber = "1";
     const startTime = "Dark ages";
     
     // Prepare the data to send
     const data = { runNumber, startTime };

     console.log("data: " + JSON.stringify(data));
     
     // Send the POST request
     fetch('/rdb/updateRun', {
         method: 'POST',
         headers: {
             'Content-Type': 'application/json',
         },
         body: JSON.stringify(data),  // Send data as JSON
     })
         .then(response => {
             console.log('dbx Content-Type:', response.headers.get('Content-Type'));
             return response.json()
         })
         .then(result => {
             // Handle the response from the server
             console.log(result);
             //             alert('Form submitted: ' + result.message);
         })
         .catch(error => {
             console.error('Error:', error);
         });
 }
 
 
 function updateRun2() {
     console.log("updateRun called 0");
     const data = {
         id:  '<%= data.BOR["Run number"]%>'
     };
     
     fetch('/updateRun/<%= data.BOR["Run number"]%>', {
         method: 'POST',
         body: JSON.stringify(data)
     })
         .then(response => {
             console.log(response.data);
         })
         .catch(error => {
             console.log(error);
         });
 }

</script>

<body>
    <h1>Run 
     <%=data.BOR["Run number"]%>
    </h1>

    <table id="runs">
    <thead>
    <tr>
    <th>Field </th>
    <th>Value </th>
    </tr>
    </thead>

    <tr>
    <td> Run number </td>
    <td>  <%= data.BOR["Run number"]%>  </td>
    </tr>

    <tr>
    <td> Start time </td>
    <td> <%= data.BOR["Start time"]%> </td>
    </tr>

    <tr>
    <td> Stop time </td>
    <td> <%= data.EOR["Stop time"]%> </td>
    </tr>

    <tr>
    <td> Events </td>
    <td> <%= data.EOR["Events"]%> </td>
    </tr>

    <tr>
    <td> Shift crew </td>
    <td> <%= data.BOR["Shift crew"]%> </td>
    </tr>

    <tr>
    <td> Comments </td>
    <td>
        <form method ='post' action="updateRun/<%= data.BOR["Run number"]%>" >
					  <textarea><%= data.EOR["Comments"]%></textarea><br>
					  <button type="submit" class="button">Submit</button>
        </form>
    </td>
    </tr>

    <tr>
    <td> Subsystems </td>
    <td> <%= data.BOR["Subsystems"]%> </td>
    </tr>

    <tr>
    <td> Beam </td>
    <td> <%= data.BOR["Beam"]%> </td>
    </tr>

    <tr>
    <td> File size </td>
    <td> <%= data.EOR["File size"]%> </td>
    </tr>

    <tr>
    <td> Uncompressed data size </td>
    <td> <%= data.EOR["Uncompressed data size"]%> </td>
    </tr>
    </table>

    <div>
        <input id="btnBack" type="button" class="button" value="Back" onclick=setBack() />
        <input id="btnPrev" type="button" class="button" value="Previous" onclick=setPrev() />
        <input id="btnNext" type="button" class="button" value="Next" onclick=setNext() />

        <input type="submit" name="updateRun" onclick=updateRun() />
    </div>
</body>

</html>
